.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  height: calc(100vh - 4rem);

  aside {
    width: 30%;
    padding: 4rem;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: stretch;
    gap: 1rem;
    font-size: 18px;
    font-weight: 400;
    > input {
      padding: 14px 30px;
      margin-top: 20px;
      border: none;
      background-color: white;
      border-radius: 3px;
      border: 1px solid rgba(11, 11, 11, 0.75);
    }
    > a {
      background: #000;
      width: 100%;
      padding: 14px 30px;
      border-radius: 3px;
      color: white;
      text-align: center;
      font-weight: 500;
    }
  }
  main {
    width: 70%;
    overflow-y: auto;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
  }
}
.green {
  color: greenyellow;
}
.red {
  color: tomato;
}
