.header {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  padding: 10px;
  font-weight: 600;
  font-size: large;
  dialog {
    position: absolute;

    top: 40px;
    left: calc(100% - 125px);
    width: 100px;

    width: 120px;
    border: 1px solid black;
    padding: 5px;
    gap: 10px;
    div {
      display: flex;
      flex-direction: column;
      font-weight: 400;
      a {
        &:hover {
          color: red;
        }
      }
    }
  }
}
